<div class="new-comment-area">
    <button class="create-comment">Crear comentario</button>
    <div class="comment-form">
        {{ form_start(form, {'attr': {'class': 'create-form'}}) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
</div>
