<ol class="breadcrumb">
    {% if  breadcrumbs is defined %}
        {% for path, title in breadcrumbs %}
            <li{% if loop.last %} class="active"{% endif %}><a href="{{ path(path) }}">{{ title }}</a></li>
        {% endfor %}
    {% else %}
        <li class="active"><a href="#">No breadcrumbs</a></li>
    {% endif %}
</ol>