{% extends 'KodifyBlogBundle::base.html.twig' %}
{% block header %}
    <header class="intro-header" style="background-image: url({{ asset('bundles/kodifyblog/img/home-bg.jpg') }})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Authors</h1>
                        <hr class="small">
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {% if authors is empty %}
                There are no authors, let's create some!!
            {% else %}
                {% for author in authors %}
                    <div class="thumbnail pull-left col-xs-3">
                        <img src="http://thecatapi.com/api/images/get?format=src&type=gif&a={{ author.id }}" alt="Author image">

                        <div class="caption">
                            <h3>{{ author.name }}</h3>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
