label {
    width: 200px;
}
#post label {
    height: 50px;
    vertical-align: middle;
}
.bg-primary {
    padding: 4px;
    margin-bottom: 10px;
}

.navbar-nav li.active {
    background: #f5f5f5;
}

.thumbnail img {
    height: 200px;
}

.new-comment-area {
    margin-bottom: 1.5em;
}
.panel-heading {
    overflow: hidden;
}
.post-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.post-content-preview {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}