{% extends 'KodifyBlogBundle::base.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {% if message is defined %}
                <div class="bg-primary">{{ message }}</div>
            {% endif %}
            <div class="form">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
